---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=37ac1219a2c4d470ec35dea5a14db528&exclude=minutely,%20alerts&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611019598,"sunrise":1610979458,"sunset":1611014575,"temp":0.44,"feels_like":-3.08,"pressure":1017,"humidity":38,"dew_point":-10.9,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":32,"wind_gust":2.68,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1611018000,"temp":0.44,"feels_like":-7.33,"pressure":1017,"humidity":38,"dew_point":-10.9,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.52,"wind_deg":46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1611021600,"temp":0.63,"feels_like":-6.19,"pressure":1022,"humidity":55,"dew_point":-6.54,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.68,"wind_deg":37,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.08},{"dt":1611025200,"temp":-0.18,"feels_like":-5.45,"pressure":1026,"humidity":71,"dew_point":-4.27,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.83,"wind_deg":53,"weather":[{"id":804,"main":"Clouds","description":"o[...]
