---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?orientation=landscape&per_page=5&query=Miami,Fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f917000010000019dfeaeb0bd3c489db80aad4f3cbfabdc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19997'
      X-Ratelimit-Reset:
      - '1613429039'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":5,"photos":[{"id":3411135,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/photo-of-castle-during-daytime-3411135/","photographer":"Craig
        Adderley","photographer_url":"https://www.pexels.com/@thatguycraig000","photographer_id":657879,"avg_color":"#3D7790","src":{"original":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg","large2x":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3411135/pexels-photo-3411135.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":2225499,"width":3707,"height":2712,"url":"https://www.pexels.com/photo/coconut-trees-2225499/","photographer":"Nextvoyage","photographer_url":"https://www.pexels.com/@nextvoyage","photographer_id":146718,"avg_color":"#7A7A5D","src":{"original":"https://images.pexels.com/photos/2225499/pexels-photo-2225499.jpeg","large2x":"https://images.pexels.com/photos/2225499/pexels-photo-2225499.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.[...]
